.first-item {
  padding: 8px 16px;
  color: #569cd6;
  font-weight: bold;
  font-size: 18px;
  background-color: #1e1e1e;
}

.file-item {
  padding: 6px 20px;
  font-size: 14px;
  color: #cccccc;
}

.file-item:hover {
  background-color: #094771;
}

.file-item.selected {
  background-color: #094771;
  color: #ffffff;
  font-weight: bold;
}
